In [53]:
import pandas as pd
import numpy as np

In [54]:
df = pd.read_excel("HIREN.xlsx", header=None)
down_up = dict()
dwn_upp = dict()

In [55]:

first_filled_row_index = df.first_valid_index() # used for getting valid data avoiding spaces

In [56]:
df = df.loc[first_filled_row_index:]
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,NaN,NaN,100,100,100,NaN,110,NaN,NaN,NaN,...,130,130,NaN,130,NaN,110,110,110,110,130
1,NaN,NaN,Daily,Daily,Daily,Fri,Daily,"W,Sa",TUE,Daily,...,"Tu,F,Su",F,TU,"M,Th,Sa",M,"SU,TU,F",Daily,Fri,"SU,TU,TH","M,W,SA"
2,STNS.,NaN,19101,69143,69141,20904,19033,20823,22940,59078,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
3,CCG,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,EA,NaN,NaN,7,10,0,6,0,0,0,...,17,21,0,NaN,0,21,21,19,19,21
181,TR/STR,NaN,0,0,0,3,6,5,5,1,...,9,16,0,42,0,15,7,43,28,58
182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df = df[2:]
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
2,STNS.,NaN,19101,69143,69141,20904,19033,20823,22940,59078,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
3,CCG,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BCT,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
6,EA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,EA,NaN,NaN,7,10,0,6,0,0,0,...,17,21,0,NaN,0,21,21,19,19,21
181,TR/STR,NaN,0,0,0,3,6,5,5,1,...,9,16,0,42,0,15,7,43,28,58
182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df = df[:-3]
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
2,STNS.,NaN,19101,69143,69141,20904,19033,20823,22940,59078,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
3,CCG,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BCT,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
6,EA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,TRT,NaN,NaN,NaN,NaN,3,4,5,5,1,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,ST,A,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
177,NaN,D,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df = df.iloc[::-1]
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,D,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50
176,ST,A,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
175,TRT,NaN,NaN,NaN,NaN,3,4,5,5,1,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,EA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BCT,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
4,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CCG,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,STNS.,NaN,19101,69143,69141,20904,19033,20823,22940,59078,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808

In [60]:
first_non_empty_row = df.apply(lambda row: row.notnull().any(), axis=1).idxmax()
first_non_empty_row

177

In [61]:
df = df.loc[first_non_empty_row:]
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
177,NaN,D,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50
176,ST,A,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
175,TRT,NaN,NaN,NaN,NaN,3,4,5,5,1,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,EA,NaN,4,NaN,1,NaN,6,NaN,NaN,NaN,...,6,7,NaN,6,NaN,NaN,6,NaN,NaN,5
173,NaN,D,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,EA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BCT,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
4,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CCG,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,STNS.,NaN,19101,69143,69141,20904,19033,20823,22940,59078,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808

In [62]:
df = df.iloc[::-1]
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
2,STNS.,NaN,19101,69143,69141,20904,19033,20823,22940,59078,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
3,CCG,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BCT,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
6,EA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,NaN,D,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
174,EA,NaN,4,NaN,1,NaN,6,NaN,NaN,NaN,...,6,7,NaN,6,NaN,NaN,6,NaN,NaN,5
175,TRT,NaN,NaN,NaN,NaN,3,4,5,5,1,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,ST,A,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
177,NaN,D,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [63]:
df = df.loc[~(df.iloc[:, 0].isna() & df.iloc[:, 0].shift().isin(["EA", "TRT"]))]
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
2,STNS.,NaN,19101,69143,69141,20904,19033,20823,22940,59078,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
3,CCG,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BCT,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
6,EA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,NaN,D,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
174,EA,NaN,4,NaN,1,NaN,6,NaN,NaN,NaN,...,6,7,NaN,6,NaN,NaN,6,NaN,NaN,5
175,TRT,NaN,NaN,NaN,NaN,3,4,5,5,1,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,ST,A,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
177,NaN,D,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [64]:
df = df.loc[~df.iloc[:, 0].isin(["EA", "TRT"])]
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
2,STNS.,NaN,19101,69143,69141,20904,19033,20823,22940,59078,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
3,CCG,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BCT,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
8,DDR,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,NaN,D,1900-01-01 09:06:50,NaN,1900-01-01 10:08:50,NaN,1900-01-01 05:13:50,NaN,NaN,NaN,...,1900-01-01 02:56:20,1900-01-02 03:13:50,NaN,1900-01-02 03:46:50,NaN,1900-01-02 04:34:50,1900-01-01 04:07:50,1900-01-01 04:39:50,1900-01-01 04:39:50,1900-01-01 04:19:50
172,UDN,A,1900-01-01 09:17:50,NaN,1900-01-01 10:14:50,NaN,1900-01-01 05:19:50,…….,…….,1900-01-01 06:00:50,...,NaN,NaN,NaN,NaN,…….,NaN,NaN,NaN,NaN,NaN
173,NaN,D,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
176,ST,A,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
177,NaN,D,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [65]:
df.iloc[:, 0].fillna(method="ffill", inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
2,STNS.,NaN,19101,69143,69141,20904,19033,20823,22940,59078,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
3,CCG,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CCG,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BCT,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
8,DDR,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,BHET,D,1900-01-01 09:06:50,NaN,1900-01-01 10:08:50,NaN,1900-01-01 05:13:50,NaN,NaN,NaN,...,1900-01-01 02:56:20,1900-01-02 03:13:50,NaN,1900-01-02 03:46:50,NaN,1900-01-02 04:34:50,1900-01-01 04:07:50,1900-01-01 04:39:50,1900-01-01 04:39:50,1900-01-01 04:19:50
172,UDN,A,1900-01-01 09:17:50,NaN,1900-01-01 10:14:50,NaN,1900-01-01 05:19:50,…….,…….,1900-01-01 06:00:50,...,NaN,NaN,NaN,NaN,…….,NaN,NaN,NaN,NaN,NaN
173,UDN,D,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
176,ST,A,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
177,ST,D,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [66]:
df = df.dropna(subset=df.columns[2:], how="all")
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
2,STNS.,NaN,19101,69143,69141,20904,19033,20823,22940,59078,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
3,CCG,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CCG,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BCT,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
8,DDR,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,BHET,D,1900-01-01 09:06:50,NaN,1900-01-01 10:08:50,NaN,1900-01-01 05:13:50,NaN,NaN,NaN,...,1900-01-01 02:56:20,1900-01-02 03:13:50,NaN,1900-01-02 03:46:50,NaN,1900-01-02 04:34:50,1900-01-01 04:07:50,1900-01-01 04:39:50,1900-01-01 04:39:50,1900-01-01 04:19:50
172,UDN,A,1900-01-01 09:17:50,NaN,1900-01-01 10:14:50,NaN,1900-01-01 05:19:50,…….,…….,1900-01-01 06:00:50,...,NaN,NaN,NaN,NaN,…….,NaN,NaN,NaN,NaN,NaN
173,UDN,D,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
176,ST,A,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
177,ST,D,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [67]:
df = df.reset_index(drop=True)
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,STNS.,NaN,19101,69143,69141,20904,19033,20823,22940,59078,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
1,CCG,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CCG,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BCT,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
4,DDR,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,BHET,D,1900-01-01 09:06:50,NaN,1900-01-01 10:08:50,NaN,1900-01-01 05:13:50,NaN,NaN,NaN,...,1900-01-01 02:56:20,1900-01-02 03:13:50,NaN,1900-01-02 03:46:50,NaN,1900-01-02 04:34:50,1900-01-01 04:07:50,1900-01-01 04:39:50,1900-01-01 04:39:50,1900-01-01 04:19:50
84,UDN,A,1900-01-01 09:17:50,NaN,1900-01-01 10:14:50,NaN,1900-01-01 05:19:50,…….,…….,1900-01-01 06:00:50,...,NaN,NaN,NaN,NaN,…….,NaN,NaN,NaN,NaN,NaN
85,UDN,D,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
86,ST,A,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
87,ST,D,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [68]:
df = df.drop(df.columns[1], axis=1)
df

,0,2,3,4,5,6,7,8,9,10,...,190,191,192,193,194,195,196,197,198,199
0,STNS.,19101,69143,69141,20904,19033,20823,22940,59078,20959,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
1,CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
4,DDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,BHET,1900-01-01 09:06:50,NaN,1900-01-01 10:08:50,NaN,1900-01-01 05:13:50,NaN,NaN,NaN,1900-01-01 06:30:50,...,1900-01-01 02:56:20,1900-01-02 03:13:50,NaN,1900-01-02 03:46:50,NaN,1900-01-02 04:34:50,1900-01-01 04:07:50,1900-01-01 04:39:50,1900-01-01 04:39:50,1900-01-01 04:19:50
84,UDN,1900-01-01 09:17:50,NaN,1900-01-01 10:14:50,NaN,1900-01-01 05:19:50,…….,…….,1900-01-01 06:00:50,NaN,...,NaN,NaN,NaN,NaN,…….,NaN,NaN,NaN,NaN,NaN
85,UDN,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,1900-01-01 06:34:50,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
86,ST,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,1900-01-01 06:47:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
87,ST,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,1900-01-01 06:50:50,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [69]:
df.iloc[0, 0] = np.nan
df

,0,2,3,4,5,6,7,8,9,10,...,190,191,192,193,194,195,196,197,198,199
0,NaN,19101,69143,69141,20904,19033,20823,22940,59078,20959,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
1,CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
4,DDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,BHET,1900-01-01 09:06:50,NaN,1900-01-01 10:08:50,NaN,1900-01-01 05:13:50,NaN,NaN,NaN,1900-01-01 06:30:50,...,1900-01-01 02:56:20,1900-01-02 03:13:50,NaN,1900-01-02 03:46:50,NaN,1900-01-02 04:34:50,1900-01-01 04:07:50,1900-01-01 04:39:50,1900-01-01 04:39:50,1900-01-01 04:19:50
84,UDN,1900-01-01 09:17:50,NaN,1900-01-01 10:14:50,NaN,1900-01-01 05:19:50,…….,…….,1900-01-01 06:00:50,NaN,...,NaN,NaN,NaN,NaN,…….,NaN,NaN,NaN,NaN,NaN
85,UDN,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,1900-01-01 06:34:50,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
86,ST,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,1900-01-01 06:47:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
87,ST,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,1900-01-01 06:50:50,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [70]:
df.columns = df.iloc[0]
df

,NaN,19101,69143,69141,20904,19033,20823,22940,59078,20959,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
0,NaN,19101,69143,69141,20904,19033,20823,22940,59078,20959,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
1,CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
4,DDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,BHET,1900-01-01 09:06:50,NaN,1900-01-01 10:08:50,NaN,1900-01-01 05:13:50,NaN,NaN,NaN,1900-01-01 06:30:50,...,1900-01-01 02:56:20,1900-01-02 03:13:50,NaN,1900-01-02 03:46:50,NaN,1900-01-02 04:34:50,1900-01-01 04:07:50,1900-01-01 04:39:50,1900-01-01 04:39:50,1900-01-01 04:19:50
84,UDN,1900-01-01 09:17:50,NaN,1900-01-01 10:14:50,NaN,1900-01-01 05:19:50,…….,…….,1900-01-01 06:00:50,NaN,...,NaN,NaN,NaN,NaN,…….,NaN,NaN,NaN,NaN,NaN
85,UDN,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,1900-01-01 06:34:50,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
86,ST,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,1900-01-01 06:47:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
87,ST,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,1900-01-01 06:50:50,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [71]:
df = df.drop(0)
df

,NaN,19101,69143,69141,20904,19033,20823,22940,59078,20959,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
1,CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
4,DDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-02 00:04:50,NaN,NaN,NaN,1900-01-01 00:04:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,BHET,1900-01-01 09:06:50,NaN,1900-01-01 10:08:50,NaN,1900-01-01 05:13:50,NaN,NaN,NaN,1900-01-01 06:30:50,...,1900-01-01 02:56:20,1900-01-02 03:13:50,NaN,1900-01-02 03:46:50,NaN,1900-01-02 04:34:50,1900-01-01 04:07:50,1900-01-01 04:39:50,1900-01-01 04:39:50,1900-01-01 04:19:50
84,UDN,1900-01-01 09:17:50,NaN,1900-01-01 10:14:50,NaN,1900-01-01 05:19:50,…….,…….,1900-01-01 06:00:50,NaN,...,NaN,NaN,NaN,NaN,…….,NaN,NaN,NaN,NaN,NaN
85,UDN,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,1900-01-01 06:34:50,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
86,ST,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,1900-01-01 06:47:50,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
87,ST,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,1900-01-01 06:50:50,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [72]:
first_column_series = df.iloc[:, 0]
first_column_series

1      CCG
2      CCG
3      BCT
4      DDR
5      DDR
      ...
83    BHET
84     UDN
85     UDN
86      ST
87      ST
Name: nan, Length: 87, dtype: object

In [73]:
df = df.iloc[:, 1:]
df

,19101,69143,69141,20904,19033,20823,22940,59078,20959,19053,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-02 00:04:50,NaN,NaN,NaN,1900-01-01 00:04:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1900-01-01 09:06:50,NaN,1900-01-01 10:08:50,NaN,1900-01-01 05:13:50,NaN,NaN,NaN,1900-01-01 06:30:50,NaN,...,1900-01-01 02:56:20,1900-01-02 03:13:50,NaN,1900-01-02 03:46:50,NaN,1900-01-02 04:34:50,1900-01-01 04:07:50,1900-01-01 04:39:50,1900-01-01 04:39:50,1900-01-01 04:19:50
84,1900-01-01 09:17:50,NaN,1900-01-01 10:14:50,NaN,1900-01-01 05:19:50,…….,…….,1900-01-01 06:00:50,NaN,NaN,...,NaN,NaN,NaN,NaN,…….,NaN,NaN,NaN,NaN,NaN
85,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,1900-01-01 06:34:50,NaN,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
86,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,1900-01-01 06:47:50,….,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
87,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,1900-01-01 06:50:50,1900-01-01 07:34:50,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [74]:
first_column_series = first_column_series.rename(None)
first_column_series = first_column_series.str.strip()
df = df.set_index(first_column_series)
df

,19101,69143,69141,20904,19033,20823,22940,59078,20959,19053,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
DDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-02 00:04:50,NaN,NaN,NaN,1900-01-01 00:04:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BHET,1900-01-01 09:06:50,NaN,1900-01-01 10:08:50,NaN,1900-01-01 05:13:50,NaN,NaN,NaN,1900-01-01 06:30:50,NaN,...,1900-01-01 02:56:20,1900-01-02 03:13:50,NaN,1900-01-02 03:46:50,NaN,1900-01-02 04:34:50,1900-01-01 04:07:50,1900-01-01 04:39:50,1900-01-01 04:39:50,1900-01-01 04:19:50
UDN,1900-01-01 09:17:50,NaN,1900-01-01 10:14:50,NaN,1900-01-01 05:19:50,…….,…….,1900-01-01 06:00:50,NaN,NaN,...,NaN,NaN,NaN,NaN,…….,NaN,NaN,NaN,NaN,NaN
UDN,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,1900-01-01 06:34:50,NaN,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
ST,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,1900-01-01 06:47:50,….,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
ST,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,1900-01-01 06:50:50,1900-01-01 07:34:50,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [75]:
trains_list = df.columns.tolist()
list_2d = []
df = df.loc[:,~df.columns.duplicated()].copy()
df

,19101,69143,69141,20904,19033,20823,22940,59078,20959,19053,...,12298,22965,12950,22923,13425,MMCT-BSL,19019,15068,19003,14808
CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-01 23:54:50,NaN,NaN,NaN,NaN
DDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1900-01-02 00:04:50,NaN,NaN,NaN,1900-01-01 00:04:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BHET,1900-01-01 09:06:50,NaN,1900-01-01 10:08:50,NaN,1900-01-01 05:13:50,NaN,NaN,NaN,1900-01-01 06:30:50,NaN,...,1900-01-01 02:56:20,1900-01-02 03:13:50,NaN,1900-01-02 03:46:50,NaN,1900-01-02 04:34:50,1900-01-01 04:07:50,1900-01-01 04:39:50,1900-01-01 04:39:50,1900-01-01 04:19:50
UDN,1900-01-01 09:17:50,NaN,1900-01-01 10:14:50,NaN,1900-01-01 05:19:50,…….,…….,1900-01-01 06:00:50,NaN,NaN,...,NaN,NaN,NaN,NaN,…….,NaN,NaN,NaN,NaN,NaN
UDN,1900-01-01 09:19:50,NaN,1900-01-01 10:15:50,1900-01-01 05:07:50,1900-01-01 05:21:50,1900-01-01 05:34:50,1900-01-01 05:34:50,1900-01-01 06:02:50,1900-01-01 06:34:50,NaN,...,1900-01-01 03:01:50,1900-01-02 03:19:50,1900-01-01 03:44:50,1900-01-02 03:54:50,1900-01-01 03:44:50,NaN,1900-01-01 04:12:50,NaN,NaN,1900-01-01 04:24:50
ST,1900-01-01 09:34:50,NaN,1900-01-01 10:24:50,1900-01-01 05:22:50,1900-01-01 05:39:50,1900-01-01 05:51:50,1900-01-01 05:51:50,1900-01-01 06:14:50,1900-01-01 06:47:50,….,...,1900-01-01 03:16:50,1900-01-02 03:34:50,1900-01-01 03:56:50,1900-01-02 04:09:50,1900-01-01 03:59:50,NaN,1900-01-01 04:24:50,NaN,NaN,1900-01-01 04:36:50
ST,1900-01-01 09:37:50,NaN,…….,1900-01-01 05:27:50,1900-01-01 05:44:50,1900-01-01 06:01:50,1900-01-01 06:01:50,….,1900-01-01 06:50:50,1900-01-01 07:34:50,...,1900-01-01 03:19:50,1900-01-02 03:39:50,1900-01-01 04:01:50,1900-01-02 04:14:50,……..,NaN,1900-01-01 04:29:50,NaN,NaN,1900-01-01 04:41:50

In [76]:
df.columns

Index([     19101,      69143,      69141,      20904,      19033,      20823,
          '22940',      59078,      20959,      19053,
       ...
            12298,      22965,    '12950',    '22923',      13425, 'MMCT-BSL',
            19019,      15068,      19003,      14808],
      dtype='object', name=0, length=197)

In [77]:
i = 0
for column_name in df.columns:
    if i > 5:
        break
    i+=1
    print(column_name)
    column_df = df[column_name]
    print(column_df)
    column_df = column_df.dropna()
    column_df = column_df.astype(str)
    column_df = column_df.str.replace('01-01-1900', '')
    column_df = column_df.str.replace('1900-01-01', '')
    # column_df = column_df.str.replace('1970-01-01 ', '')
    column_df = column_df.replace(r'([\s_-]+|^$|(\.))', np.nan, regex=True)
#             column_df = column_df.dropna()
#             mask = column_df.str.contains(r'\.+')
#             column_df[mask] = np.nan
    column_df = column_df.dropna()
#             column_df = column_df[column_df != "......"]
    column_df = column_df[column_df.astype(str).str.contains(r'\d\d:\d\d:\d\d', na=False)]
    column_df = pd.DataFrame(column_df)
    row_indices = column_df.index.tolist()
    datapoints = column_df.iloc[:, 0].tolist()

    # Create the 2-dimensional list
    list_2d = list_2d + [row_indices, datapoints]
    print(list_2d)

19101
CCG                     NaN
CCG                     NaN
BCT                     NaN
DDR                     NaN
DDR                     NaN
               ...
BHET    1900-01-01 09:06:50
UDN     1900-01-01 09:17:50
UDN     1900-01-01 09:19:50
ST      1900-01-01 09:34:50
ST      1900-01-01 09:37:50
Name: 19101, Length: 87, dtype: object
[[], []]
69143
CCG     NaN
CCG     NaN
BCT     NaN
DDR     NaN
DDR     NaN
       ...
BHET    NaN
UDN     NaN
UDN     NaN
ST      NaN
ST      NaN
Name: 69143, Length: 87, dtype: object
[[], [], [], []]
69141
CCG                     NaN
CCG                     NaN
BCT                     NaN
DDR                     NaN
DDR                     NaN
               ...
BHET    1900-01-01 10:08:50
UDN     1900-01-01 10:14:50
UDN     1900-01-01 10:15:50
ST      1900-01-01 10:24:50
ST                      …….
Name: 69141, Length: 87, dtype: object
[[], [], [], [], [], []]
20904
CCG                     NaN
CCG                     NaN
BCT                     NaN
DDR                     NaN
DDR                     NaN
               ...
BHET                    NaN
UDN                     NaN
UDN     1900-01-01 05:07:50
ST      1900-01-01 05:22:50
ST      1900-01-01 05:27:50
Name: 20904, Length: 87, dtype: object
[[], [], [], [], [], [], [], []]
19033
CCG                     NaN
CCG                     NaN
BCT                     NaN
DDR                     NaN
DDR                     NaN
               ...
BHET    1900-01-01 05:13:50
UDN     1900-01-01 05:19:50
UDN     1900-01-01 05:21:50
ST      1900-01-01 05:39:50
ST      1900-01-01 05:44:50
Name: 19033, Length: 87, dtype: object
[[], [], [], [], [], [], [], [], [], []]
20823
CCG                     NaN
CCG                     NaN
BCT                     NaN
DDR                     NaN
DDR                     NaN
               ...
BHET                    NaN
UDN                     …….
UDN     1900-01-01 05:34:50
ST      1900-01-01 05:51:50
ST      1900-01-01 06:01:50
Name: 20823, Length: 87, dtype: object
[[], [], [], [], [], [], [], [], [], [], [], []]

In [78]:
down_up[key] = list_2d
down_up[key + key] = df.index
dwn_upp[key] = trains_list
y_axis = ["CCG","BCT","DDR","BA","BDTS","ADH","BVI","BYR","BSR","NSP","VR","VTN","SAH","KLV","PLG","UOI","BOR","VGN","DRD","GVD","BRRD","UBR","SJN","BLD","KEB","VAPI","BAGD","UVD","PAD","ATUL","BL","DGI","JRS","BIM","AML","ACL","VDH","HXR","GNST","NVS","MRL","SCH","BHET","UDN","ST"]
y_labes = ["CCG 0.0","BCT 14.66","DDR 10.17","BA 14.66","BDTS 15.29","ADH 29.32","BVI 33.98","BYR 43.11","BSR 51.78","NSP 55.85","VR 59.98","VTN 68.42","SAH 76.74","KLV 82.55","PLG 90.92","UOI 97.15","BOR 102.8","VGN 111.5","DRD 123.7","GVD 134.8","BRRD 139.0","UBR 144.0","SJN 149.4","BLD 160.9","KEB 165.8","VAPI 172.0","BAGD 179.0","UVD 182.0","PAD 187.7","ATUL 191.0","BL 198.22","DGI 207.21","JRS 212.28","BIM 216.41","AML 221.72","ACL 225.33","VDH 228.87","HXR 232.0","GNST 234.0","NVS 237.33","MRL 245.63","SCH 252.26","BHET 257.3","UDN 262.77","ST 266.78"]
down_up.pop("DNDN") 
down_up.pop("UPUP")
# return down_up,y_axis,y_labes, dwn_upp

NameError: name 'key' is not defined